/* Importando Media Queries e Estilizações gerais */
@import url('./mediaQueries.css');

* {
  font-family: 'Kreon', serif;
}

input {
  background-color: #261C2C;
  color: #04AA6D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #04AA6D;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #04AA6D;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #04AA6D;
}
 p {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }